.player {
    color: white;
    width: 120px;
    height: 100px;
    background-color: #000000;
    border-radius: 20%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 20px;

    >img {
        width: 50px;
        height: 50px;
    }

    >span {
        font-size: 20px;
    }
}