.player {
    color: white;
    background-color: #000000;
    border-radius: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 20px;
    padding: 5px 10px;

    >img {
        width: 40px;
        height: 40px;
    }

    >span {
        font-size: 20px;
    }
}

.player-active {
    background-color: #fd3636;
}