app-player {
    position: absolute;
    display: block;
}

.game-content {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fb3f3f;
    background: radial-gradient(circle, rgba(251, 63, 63, 1) 0%, rgba(99, 54, 69, 1) 46%);
    
    >h1 {
        font-family: 'stone-board' !important;
        position: absolute;
        top: 120px;
        font-size: 120px;
    }

    >h2 {
        position: absolute;
        top: 350px;
        left: 40%;
        font-size: 54px;
        white-space: nowrap !important;
        text-align: center !important;
        line-height: 1 !important;
        font-family: inherit !important;
    }
}

.card-stack {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    >img {
        position: absolute;
        height: 200px;
    }
}

.top-card {
    cursor: pointer;

    &:hover {
        transform: translateY(20px);
        transition: all 0.2s ease-in-out;
    }
}

.pick-card {
    transition: all 0.2s ease-in-out;
    transform: translateX(50px) translateY(280px) scale(1.3) rotate(10deg);
    animation: pick-card-animation 1.5s ease-in-out;
}

.played-card {
    left: 32px;
    position: absolute;
    height: 200px;
    transform: translateX(50px) translateY(280px) scale(1.3) rotate(10deg);
}

@keyframes pick-card-animation {
    0% {
        transform: translateY(0) scale(1);
    }

    20% {
        transform: translateY(0) scale(1.3);
    }

    50% {
        transform: translateY(0) scale(1.3);
    }

    100% {
        transform: translateX(50px) translateY(280px) scale(1.3) rotate(10deg);
    }
}

button[mat-fab] {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}