<section class="start-screen">
    
    <div class="spinner-left">
        <div class="slider-left" style="--quantity: 6">
        <img style="--position: 1" src="/assets/images/ace_1.png" alt="">
        <img style="--position: 2" src="/assets/images/ace_2.png" alt="">
        <img style="--position: 3" src="/assets/images/ace_3.png" alt="">
        <img style="--position: 4" src="/assets/images/ace_4.png" alt="">
        <img style="--position: 5" src="/assets/images/ace_5.png" alt="">
        <img style="--position: 6" src="/assets/images/ace_6.png" alt="">
        </div>
    </div>

    <section class="start-screen-content">
        <h1>RING <br> OF <br> FIRE</h1>
        <button>START GAME</button>
    </section>


    <div class="spinner-right">
        <div class="slider-right" style="--quantity: 6">
            <img style="--position: 1" src="/assets/images/hearts_1.png" alt="">
            <img style="--position: 2" src="/assets/images/hearts_2.png" alt="">
            <img style="--position: 3" src="/assets/images/hearts_3.png" alt="">
            <img style="--position: 4" src="/assets/images/hearts_4.png" alt="">
            <img style="--position: 5" src="/assets/images/hearts_5.png" alt="">
            <img style="--position: 6" src="/assets/images/hearts_6.png" alt="">
        </div>
    </div>

</section>