*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "stone-board";
    src: url('/assets/font/Stone-Board-Rought.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}