@import '@angular/material/prebuilt-themes/indigo-pink.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'stone-board';
}

@font-face {
    font-family: "stone-board";
    src: url('/assets/font/Stone-Board-Rought.otf') format('opentype'),
        url('/assets/font/Stone-Board-Rought.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}